@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    min-width: 320px;
}

#root {
    max-width: 1280px;
    text-align: center;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

[role="list"] {
    list-style: none;
}

button {
    outline: none;
    /* border: none; */
}
